#add for board init.rc for recovery mode
import /init.recovery.common.rc
on fs
start prepdecrypt 

service prepdecrypt /system/bin/prepdecrypt.sh
oneshot
disabled
user root
group root
seclabel u:r:recovery:s0

service keystore2 /system/bin/keystore2 /data/misc/keystore
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-1 /vendor/bin/hw/android.hardware.keymaster@4.1-unisoc.service
    user root
    group root drmrpc
    disabled
seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service.trusty
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
    

on property:vendor.sys.listener.registered=true
start keymaster-4-1
start gatekeeper-1-0

on property:crypto.ready=1 && property:ro.crypto.state=encrypted
start keymaster-4-1
start gatekeeper-1-0

on property:crypto.ready=1 && property:hwservicemanager.ready=true
 start keymaster-4-1
start gatekeeper-1-0

on property:ro.crypto.state=unsupported || property:ro.crypto.state=unencrypted || property:twrp.decrypt.done=true
stop keymaster-4-1
stop gatekeeper-1-0

on boot
#install_keyring
start boot-hal-1-2
start health-hal-2-1
start keymaster-4-1
start gatekeeper-1-0